:root {
  --primary: #1c4587;
  --secondary: ;
  --darkGray: #333333;
  --fontColor: #242424;
  --whiteColor: #fff;
  --menuBg: #6e6e6e;
  --menuText: #242424;
  --orange: #f89728;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  color: var(--fontColor);
}

header {
  padding: 20px;
  position: relative;
  justify-content: center;
  align-items: center;
}
.bqLogo {
  width: 60%;
}
.accordion-button.no-arrow::after {
  background-image: initial;
  width: 0;
}
.btnDownload {
  width: 32px;
  height: 32px;
  border: solid 1px var(--primary);
  padding: 0px 9px;
  background: var(--primary);
  border-radius: 50px;
}
.btnSample {
  width: auto;
  border: solid 1px var(--primary);
  padding: 12px 25px;
  background: var(--primary);
  border-radius: 50px;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
a.btnSample {
  color: var(--whiteColor);
  text-decoration: none;
}

.btnSample img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(34%) saturate(0%)
    hue-rotate(14deg) brightness(109%) contrast(100%);
}
.no-arrow .accordion-button:not(.collapsed)::after {
  background-image: initial;
  width: 0;
}
.pagination .page-link {
  color: var(--primary);
}
.btn-primary {
  border: solid 1px var(--primary);
  background: var(--primary);
  color: var(--whiteColor);
  padding: 10px 20px;
}
.content h4 {
  font-size: 24px;
  font-weight: 500;
  color: var(--fontColor);
}
.content h3 {
  font-size: 26px;
  font-weight: 500;
  color: var(--fontColor);
}
.content p {
  font-size: 16px;
  font-weight: 400;
  color: var(--fontColor);
}
.txtSearch {
  border: solid 1px var(--whiteColor);
  font-size: 24px;
  font-weight: 500;
  width: 80%;
  color: var(--fontColor);
  border-radius: 40px;
  padding: 7px 15px;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 1px 3px 8px #ccc;
}
.searchField img {
  width: 32px;
  height: 32px;
  border: solid 1px var(--primary);
  padding: 5px 8px;
  background: var(--primary);
  border-radius: 50px;
  position: relative;
  right: 36px;
  top: -1px;
}
.accordion {
  background: transparent;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-header a,
.accordion-header button {
  text-decoration: none;
  background: var(--primary) !important;
  color: var(--whiteColor) !important;
}
.accordion-item {
  border: none;
  background: #2b5598 !important;
  color: var(--whiteColor) !important;
}
.accordion ul {
  padding: 0px;
  margin: 0px;
  padding-left: 10px;
}
.accordion ul li {
  list-style: none;
  line-height: 2.2;
}
.accordion ul li a {
  color: var(--menuText);
  text-decoration: none;
  color: var(--whiteColor);
}
.searchField.tableSearch {
  width: 1000px;
}
/* Sidebar styling */
.sidebar {
  min-width: 300px;
  max-width: 300px;
  border-radius: 0px !important;
  color: #fff;
  transition: transform 0.3s ease;
  height: 100vh;
  min-height: 200px;
  overflow-y: auto;
  position: sticky;
  top: 0;
}
.row-striped tr:nth-child(odd) td {
  background: #fcfcfc;
}

.row-striped tr:nth-child(even) td {
  background: #ffffff;
}
.sidebar .nav-link {
  color: #adb5bd;
}

.sidebar .nav-link:hover {
  color: #ffffff;
  background-color: #495057;
}

.sidebar .nav-item.active .nav-link {
  color: #ffffff;
  background-color: #495057;
}

/* Sidebar visibility */
.sidebar.hide {
  transform: translateX(-100%);
}
.accordion-item:first-of-type > .accordion-header .accordion-button {
  border-radius: 0px !important;
}
.directionaries {
  padding: 10px;
}
/* .directionaries .accordion-item {
  background: #355493 !important;
} */
.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
.directionaries .accordion-item .accordion-body {
  background: #4d6aaa;
}
.directionaries .accordion-item .accordion-body ul {
  padding: 0px;
}
.directionaries .nav_sub_links {
  font-size: 14px;
}
.directionaries .accordion-button {
  font-size: 15px;
}

/* Main content styling */
.content {
  padding: 20px;
  flex: 1;
  padding-top: 0px;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.borderTop {
  border-top: solid 1px #ccc;
  padding-top: 30px;
}
.nesterMenu_ttl {
  padding: 20px;
  background: #112950 !important;
}

.mainLoader {
  width: 100%;
  text-align: center;
  margin-top: 10%;
}

.loader {
  width: 100%;
  height: 48px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 48em;
  height: 48em;
  background-image: radial-gradient(
      circle 10px,
      var(--orange) 100%,
      transparent 0
    ),
    radial-gradient(circle 10px, var(--primary) 100%, transparent 0),
    radial-gradient(circle 10px, var(--primary) 100%, transparent 0),
    radial-gradient(circle 10px, var(--primary) 100%, transparent 0),
    radial-gradient(circle 10px, var(--primary) 100%, transparent 0),
    radial-gradient(circle 10px, var(--primary) 100%, transparent 0),
    radial-gradient(circle 10px, var(--primary) 100%, transparent 0),
    radial-gradient(circle 10px, var(--primary) 100%, transparent 0);
  background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em, 13em -13em,
    -13em -13em, 13em 13em, -13em 13em;
  background-repeat: no-repeat;
  font-size: 0.5px;
  border-radius: 50%;
  animation: blast 1s ease-in infinite;
}
.loader::after {
  font-size: 1px;
  /* background: var(--orange); */
  animation: bounce 1s ease-in infinite;
  border: solid 1px var(--primary);
  background: var(--whiteColor) url(../images/bq_logo.svg) no-repeat;
  background-size: 70%;
  background-position: 50%;
}

@keyframes bounce {
  0%,
  100% {
    font-size: 0.75px;
  }
  50% {
    font-size: 1.5px;
  }
}
@keyframes blast {
  0%,
  40% {
    font-size: 0.5px;
  }
  70% {
    opacity: 1;
    font-size: 4px;
  }
  100% {
    font-size: 6px;
    opacity: 0;
  }
}

.loader_1 {
  position: relative;
  margin: auto;
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.1);
  transform-origin: 50% 50%;
  transform: perspective(200px) rotateX(66deg);
  animation: spinner-wiggle 1.2s infinite;
  background: var(--whiteColor) url(../images/bq_logo.svg) no-repeat;
  background-size: 70%;
  background-position: 50%;
}
.loader_1:before,
.loader_1:after {
  content: "";
  position: absolute;
  inset: -4px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 4px solid #d9dfe9;
  animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite,
    spinner-fade 1.2s linear infinite;
}
.loader_1:before {
  border-top-color: #fff;
}
.loader_1:after {
  border-top-color: var(--orange);
  animation-delay: 0.4s;
}

@keyframes spinner-spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner-fade {
  25%,
  75% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}

.loader_2 {
  width: 16px;
  height: 16px;
  position: relative;
  border-radius: 50%;
  color: var(--primary);
  background: currentColor;
  box-shadow: 32px 0, -32px 0, 64px 0;
  left: 48%;
  margin-bottom: 10%;
}

.loader_2::after {
  content: "";
  position: absolute;
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: var(--orange);
  animation: move 3s linear infinite alternate;
}
.loader_3 {
  width: fit-content;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px var(--primary);
  --l: var(--primary) 35%, var(--orange) 0 55%, var(--primary) 0%;
  --g: 0/300% 100% no-repeat text;
  background: linear-gradient(-60deg, var(--l)) var(--g),
    linear-gradient(60deg, var(--l)) var(--g);
  animation: l7 4s linear infinite;
}
.loader_3:before {
  content: "BQ";
}
@keyframes l7 {
  0% {
    background-position: 100%, 0;
  }
  50% {
    background-position: 0, 0;
  }
  to {
    background-position: 0, 100%;
  }
}

@keyframes move {
  0%,
  5% {
    left: -32px;
    width: 16px;
  }
  15%,
  20% {
    left: -32px;
    width: 48px;
  }
  30%,
  35% {
    left: 0px;
    width: 16px;
  }
  45%,
  50% {
    left: 0px;
    width: 48px;
  }
  60%,
  65% {
    left: 32px;
    width: 16px;
  }

  75%,
  80% {
    left: 32px;
    width: 48px;
  }
  95%,
  100% {
    left: 64px;
    width: 16px;
  }
}

/* Hamburger Button Styling */
.hamburger-btn {
  display: none;
  position: fixed;
  top: 35px;
  left: -5px;
  background-color: #343a40;
  color: var(--whiteColor);
  border: none;
  padding: 2px 8px;
  font-size: 1.2em;
  cursor: pointer;
  z-index: 1001;
}
.table tr th,
.table tr td {
  font-size: 14px;
}
.table thead tr th {
  background: #cdcdcd;
  font-weight: 600;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
  background: #f9f9f9 !important;
}
.table-bordered > tbody > tr:nth-of-type(odd) > * {
  background: #f9f9f9 !important;
}
.nav-tabs {
  border: none !important;
  margin-bottom: 30px !important;
}
.nav-tabs .nav-link {
  margin: 0px 10px;
  border-radius: 5px;
  background: #414141;
  color: var(--whiteColor);
  padding: 10px 20px !important;
}
.nav-link.active {
  border: solid 1px #414141 !important;
}
.nav-link:hover {
  color: #6e6e6e !important;
}
footer {
  font-size: 12px;
  background: #f9f9f9;
  color: #6e6e6e;
  padding: 20px;
}
footer a {
  color: #1c4587;
  text-decoration: none;
}
footer a:hover {
  color: #242424;
  text-decoration: underline;
}
.modal.show .modal-dialog {
  --bs-modal-width: 98% !important;
}
.modal-dialog-centered {
  min-height: auto !important;
}
#address_universe li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Highlight active menu item */
.nav_sub_links.active {
  font-weight: 500;
  color: var(--orange);
}

/* Prevent accordion headers from toggling */
.accordion-header .accordion-button.nav_links.no-toggle {
  pointer-events: none; /* Disable clicks on the accordion header */
  background-color: #f8f9fa;
}
/* Full screen sidebar for mobile */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 68px;
    left: 0;
    height: 100vh;
    z-index: 1000;
    transform: translateX(-100%); /* Hidden by default on mobile */
  }

  .hamburger-btn {
    display: block;
  }

  .sidebar.show {
    transform: translateX(0); /* Show sidebar on mobile when toggled */
  }
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 98% !important;
  }
}
@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 100% !important;
  }
  .content {
    overflow-y: auto;
  }
  table {
    width: 700px;
    overflow-y: auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 640px) {
  .container-sm,
  .container {
    max-width: 100% !important;
  }
  .content {
    padding: 0px !important;
    overflow-y: auto;
  }
  table {
    width: 700px;
    overflow-y: auto;
  }
  .searchField {
    text-align: center;
    margin-bottom: 15px;
  }
  header .col-sm-3,
  header .searchField {
    text-align: center;
    margin: 10px 0px;
  }
  .financialTabs {
    width: 900px;
  }
  .showRecord,
  .btnSample span {
    display: none;
  }
  .btnSample {
    padding: 10px 10px;
  }
  .btnSample img {
    width: 15px;
    height: 15px;
    margin-right: 0px;
  }
  .searchField.tableSearch {
    width: 350px;
    margin-top: 10px;
  }
}
